<header class="show-header">
  <%= @blog.title %>
</header>


<div class="blog-show">
  <div class="show-box">
    <div>
      <% if @blog.image.attached? %>
      <%= image_tag @blog.image, class:"show-img" %>
      <% end %>
    </div>
    <h3>
      <%= @blog.text %>
    </h3>
    <div class="show-btn">
    <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'EDIT', edit_blog_path, class:"edit-btn" %>
    <%= link_to 'DESTROY', blog_path, method: :delete, class:"destroy-btn" %>
    <% end %>
    </div>
  </div>

  <div class="comment-box">
    <%= form_with model: [@blog, @message] do |f| %>
      <%= f.text_area :text, class:"comment-text", id:"text", rows:"12", maxlength:"1000" %>
      <%= f.submit 'comment', class:"comment-btn" %>
        <%# <span>コメントする<span> %>
    <% end %>
    <div id="messages" class="messages">
     <% @messages.reverse_each do |message| %>
      <% if message.blog_id  == @blog.id %>
      <p><%= message.text %></p>
      <div class="message-user"><%= message.user[:name] %></div>
      <% end %>
     <% end %>
    </div>
  </div>
  
</div>

<footer>
  <div class="blog-comment-content">
    <%=link_to 'RETURN', root_path, class:"back-btn" %>
  </div>
</footer>