<div class="blog-contents">
  <header class="blog-header">
   <h1>商品</h1>
  </header>
  <div class="blog-main">
    <h2>商品入力</h2>
    <%=form_with model: @item, local: true do |f| %>
    <%# <div class="img-upload"> %>
      <div class="weight-bold-text">
        IMAGE
      </div>
      <div class="click-upload">
        <p>
          CLICK HERE ⏬
        </p>
        <%= f.file_field :image, id:"blog-img" %>
      </div>
    <%# </div> %>
    <div class="new-blogs">
      <div class="weight-bold-text">
        TITLE
      </div>
      <%= f.text_area :name, class:"blogs-text", id:"blog-title", placeholder:"書いてね", rows:"1", maxlength:"200" %>
      <div class="blog">
       <div class="weight-bold-text">
         TEXT
       </div>
       <%= f.text_area :text, class:"blogs-text", id:"blog-text", placeholder:"書いてね", rows:"12", maxlength:"1000" %>
      </div>
      <%# 価格 %>
      <div class="price">
       <div class="weight-bold-text">
         price
       </div>
       <div>
         <div class="price-content">
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"item-price" %>
        </div>
      </div>
      </div>
      <%# 価格 %>
    </div>
    <div class="blog-btn-content">
      <%= f.submit "POST", class:"blog-btn" %>
      <%=link_to 'RETURN', root_path, class:"back-btn" %>
    </div>
  <% end %>
  </div>
  <footer class="blog-footer">
    商売<span>繁</span>盛
  </footer>
</div>