<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @item.image ,class:"show-img" %>
      <%# <% if @item.purchase != nil %> 
      <div class='sold-out'>
        <span>Sold Out!!</span>
      </div>
      <%# <% end %> 
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= @item.price + "(税込)" %>
      </span>
      <span class="item-postage">
        送料込み
      </span>
    </div>

    <div class="show-btn">
    <% if  current_user.admin? && user_signed_in? %> 
    <%= link_to 'EDIT', edit_item_path, method: :get, class: "edit-btn" %>
    <%= link_to 'DESTROY', item_path, method: :delete, class:'destroy-btn' %>
    <%# <% elsif @item.purchase == nil %> 
    <%# <%= link_to '購入画面に進む', item_purchases_path(@item) ,class:"item-red-btn" %> 
    <% end %>
    </div>

    <div class="item-text">
      <%= @item.text %>
    </div>
  </div>
</div>